{% extends 'base.html.twig' %}

{% block body %}
    <h1>Erreure 403 </h1>

    <p>
        Vous ne disposez pas des droits pour accédez a cette page <a href="{{ path('homepage') }}">return to the homepage</a>.
    </p>
{% endblock %}